<h1>Alpha Bloggers</h1>

<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<table>
  <thead>
    <tr>
      <th>Article Count</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= pluralize(user.articles.count, "article") %></td>
        <td><%= link_to user.username, user %></td>
        <td><%= link_to gravatar_for(user, size: 150), user %></td>
        <td><%= link_to 'View Profile', user %></td>
        <% if logged_in? %>
          <% if user == current_user %>
            <td><%= link_to 'Edit Profile', edit_user_path(user) %></td>
          <% end %>
          <% if current_user.admin? %>
            <td><%= link_to 'Delete Profile', user_path(user), method: :delete, data: { confirm: "Are you sure? " } %></td>
          <% end %>
        <% end %>

        <td><small>Joined <%= time_ago_in_words(user.created_at) %> ago</small></td>
      </tr>
    <% end %>
  </tbody>
</table>